name: default

global:
  DATA_PATH: "/root/data/"
  ACCOUNTS_PATH: "/root/.accounts/"
  ACCEPTED_FILES:
    - ".txt"
    - ".html"
    - ".pdf"
  LOGGING:
    input_output_filename: "chain_input_output.log"
  verbosity: 3

services:
  benchmarking:
    out_dir: .
    queries_path: queries
    modes:
      - SOURCES
      - RAGAS
    mode_settings:
      sources_settings:
        default_match_field: file_name # metadata field to check for source matching
      ragas_settings: 
        enabled_metrics:
          - answer_relevancy
          - faithfulness
          - context_precision
          - context_recall
        provider: OpenAI # supports OpenAI, Ollama, HuggingFace, and Anthropic
        evaluation_model_settings:
          model_name: gpt-4
          base_url:  # for Ollama support
        embedding_model: OpenAI
        timeout: 180
        batch_size: False


  piazza:
    network_id: 
    update_time: 60
  mattermost:
    update_time: 60
  redmine_mailbox:
    pipeline: CMSCompOpsAgent
    url: 
    project: 
    redmine_update_time: 10
    answer_tag: -- A2rchi -- Resolving email was sent
    imap4_port: 143
    mailbox_update_time: 10
  postgres:
    port: 5432
    user: a2rchi
    database: a2rchi-db
    host: postgres
  chat_app:
    pipeline: QAPipeline
    trained_on: No description provided. # leaving for now for backwards compatibility can remove later
    port: 7861
    external_port: 7861
    host: 0.0.0.0
    hostname: localhost
    template_folder: "/root/A2rchi/src/interfaces/chat_app/templates"
    static_folder: "/root/A2rchi/src/interfaces/chat_app/static"
    num_responses_until_feedback: 3
    include_copy_button: False
    enable_debug_chroma_endpoints: False
    flask_debug_mode: True
    auth:
      enabled: False
      sso:
        enabled: False
        server_metadata_url: 
        authorize_url: 
        client_kwargs:
          scope: openid profile email
      basic:
        enabled: False
  data_manager:
    auth:
      enabled: True
      api_token: ""
    enabled: True
    port: 7871
    external_port: 7871
    host: 0.0.0.0
    hostname: data-manager
    template_folder: "/root/A2rchi/src/interfaces/chat_app/templates"
    static_folder: "/root/A2rchi/src/interfaces/chat_app/static"
    flask_debug_mode: False
  grader_app:
    port: 7861
    external_port: 7862
    host: 0.0.0.0
    hostname: localhost
    template_folder: "/root/A2rchi/src/interfaces/grader_app/templates"
    num_problems: 1
    local_rubric_dir: ""
    local_users_csv_dir: ""
    flask_debug_mode: True
  chromadb:
    use_HTTP_chromadb_client: True
    host: chromadb
    port: 8000
    external_port: 8000
    local_vstore_path: "/root/data/vstore/"
  grafana:
    port: 3000
    external_port: 3000

data_manager:
  collection_name: default_collection
  embedding_name: OpenAIEmbeddings
  embedding_class_map:
    OpenAIEmbeddings:
      class: OpenAIEmbeddings
      kwargs:
        model: text-embedding-3-small
      similarity_score_reference: 10
    HuggingFaceEmbeddings:
      class: HuggingFaceEmbeddings
      kwargs:
        model_name: sentence-transformers/all-MiniLM-L6-v2
        model_kwargs:
          device: cpu
        encode_kwargs:
          normalize_embeddings: True
      similarity_score_reference: 10
      query_embedding_instructions: null
  chunk_size: 1000
  chunk_overlap: 0
  parallel_workers: 32
  reset_collection: True
  stemming:
    enabled: False
  distance_metric: cosine
  retrievers:
    semantic_retriever:
      num_documents_to_retrieve: 5
    bm25_retriever:
      num_documents_to_retrieve: 5
      k1: 0.5
      b: 0.75
    hybrid_retriever:
      num_documents_to_retrieve: 5
      bm25_weight: 0.6
      semantic_weight: 0.4
      bm25_k1: 0.5
      bm25_b: 0.75
  sources:
    local_files:
      enabled: True
      visible: True
      schedule: ''
      paths:
    links:
      base_source_depth: 1
      max_pages: 
      enabled: True
      visible: True
      schedule: ''
      input_lists:
      html_scraper:
        reset_data: True
        verify_urls: False
        enable_warnings: False
      selenium_scraper:
        enabled: False
        visible: False
        use_for_scraping: False
        selenium_class: CERNSSOAuthenticator
        selenium_class_map:
          CERNSSOAuthenticator:
            class: CERNSSOAuthenticator
            kwargs:
              headless:  True
    git:
      enabled: False
      visible: True
      schedule: ''
    sso:
      enabled: False
      visible: True
      schedule: ''
      sso_class: CERNSSOScraper
      sso_class_map:
        CERNSSOScraper:
          class: CERNSSOScraper
          kwargs:
            headless: True
            max_depth: 2
    jira:
      enabled: False
      url: 
      visible: True
      schedule: ''
      projects:
      anonymize_data: False
      max_tickets: 10000000000.0
      cutoff_date: 
    redmine:
      enabled: False
      url: 
      project: 
      visible: False
      schedule: ''
      anonymize_data: True

utils:
  sso:
    enabled: False
    sso_class: CERNSSOScraper
    sso_class_map:
      CERNSSOScraper:
        class: CERNSSOScraper
        kwargs:
          headless: True
          max_depth: 2
