# Basic configuration file for a Archi deployment
# with a chat app interface and PostgreSQL with pgvector for document storage.
# The LLM is used through an existing Ollama server.
#
# run with:
# archi create   --name my-archi-ollama   --config examples/deployments/basic-ollama-fnal/config.yaml   --env-file examples/deployments/basic-ollama-fnal/secrets.env   --services chatbot   --podman   --hostmode   --force -v 4

name: my_archi

services:
  chat_app:
    agent_class: CMSCompOpsAgent
    agents_dir: examples/agents
    default_provider: local
    default_model: "Qwen3-coder:latest" #pipeline default model
    providers:
      local:
        enabled: true
        base_url: https://ollama.fnal.gov # make sure this matches your ollama server URL!
        mode: ollama #call to LanChain class ChatOllama, other option is openai_compat which calls ChatOpenAI LanChain class
        default_model: "Qwen3-coder:latest" # local server default model in the dropdown menu in "Model Provider" section of the GUI, make sure this matches a model you have downloaded locally with ollama
        models: #options for the dropdown menu in "Model" section of the GUI if dynamic fetch fails (GET https://ollama.fnal.gov/api/tags)
          - "gpt-oss:120b"
          - "qwen3:32b"
    trained_on: "My data"
    port: 7868
    external_port: 7868
  vectorstore:
    backend: postgres # PostgreSQL with pgvector (only supported backend)
  data_manager:
    port: 7899 #7899
    external_port: 7899
    auth:
      enabled: false # set to true and provide DM_API_TOKEN in .env for production

data_manager:
  sources:
    elog:
      max_entries: 500   # scrape the 500 most recent entries; remove to scrape all
      verify_ssl: false
    jira:
      max_tickets: 10
      url: https://its.cern.ch/jira/
      projects:
        - "CMSPROD"
    links:
      input_lists:
        - examples/deployments/basic-ollama-fnal/miscellanea.list
        - examples/deployments/basic-ollama-fnal/dcache-elog.list
    redmine:
      url: https://cleo.mit.edu
      projects:
        - emails-to-ticket
  embedding_name: HuggingFaceEmbeddings
